/*General*/
/*Mobile First*/
body{
    background-color: #bd723e;
    color: black;
    margin: 1px;
    font-family: 'Open Sans', sans-serif;
}
nav{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}
nav a{
    flex: auto;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
}
nav a:hover{
    background-color: #ccc;
    text-decoration: underline;
}
nav a:active{
    background-color: #222;
    color: white;
}
header{
    background-color: #bd7856;
    color: #4040ab;
    text-align: center;
    text-transform: uppercase;
    grid-area: header;
    padding: 20px;
}
/*Tablet*/
@media screen and (min-width: 568px) and (max-width: 1024px){
    h1{font-size: 30px}
    p{font-size: 14px}
    a{font-size: 15px}

    nav{flex-direction: row;}

}

/*Desktop*/
@media screen and (min-width: 1025px){
    h1{font-size: 30px}
    p{font-size: 14px}
    a{font-size: 15px}

    nav{flex-direction: row}


}
